<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="OutputRootDirectory" value=".\output" />
    <add key="InputRootDirectory" value=".\input" />

    <add key="tempatePath" value=".\templateProd.cshtml" />
    <!--Production setup  <add key="tempatePath" value="templateProd.cshtml" />-->

    <add key="ExcelInputFilePath" value="input.xlsx" />
    <add key="ExcelInputDataSheet" value="Open" />

    <add key="ExcelProducDataPath" value="wrong_Product.xlsx" />
    <add key="ExcelProductDataSheetName" value="Opportunity Advanced Find View" />

    <add key="ExcelDuDataPath" value="wrong_DU.xlsx" />
    <add key="ExcelDuDataSheetName" value="Opportunity Advanced Find View" />

    <add key="Subject" value="Incorrect cases in CRM" />
    <!--Posible values: "word", "eml", "none" is used to suppress rendering-->
    <add key="Format" value="none" />

    <!--Posible values: "SE", "NO"-->
    <add key ="Business Area Application" value="SE"/>

    <add key="GoogleKey" value="AIzaSyC9rfMZ1sJocOSvishZO4992PIfdRaNm1Q"/>

  </appSettings>

  <connectionStrings>
    <add name="ExcelConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; data source={0}; Extended Properties='Excel 12.0 Xml;HDR=Yes;IMEX=1;TypeGuessRows=0;ImportMixedTypes=Text'" />
  </connectionStrings>

</configuration>